h4 {
    color: #eee;
} 

.card {
    width: 200px;
    padding: 0;
    height:auto;
    margin:0 auto;
}

.content img {
    object-fit: cover;
    box-shadow: 3px 1px 1px black; 
    position: relative;
    border-radius: 6px;
}
.rank {
    position: absolute;
    background-color:white;
    top:0;
    left:0;
    border-radius: 3px;
    padding:3px;
    font-size: 10px;
    font-weight: 700;
}

.info {
    color:white;
    font-size: 15px;
    font-weight: 600;
    width: 200px;
    background-color:rgb(0,0,0,0.5);
    padding-top:15px;
    padding-bottom:15px;
    line-height: 25px;
    padding-left:5px;
    padding-right: 5px;
    border-radius: 6px;
}