.App {
  font-family: sans-serif;
  text-align: center;
  margin: 0 auto;
  padding: 0 1em;
}

/* Flexbox stuff */
.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: line;
}
